In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Course':['SSLC','HSE11','HSE12'],
    'Math': [85, 78, 92],
    'Science': [88, 89, 95]
}

df = pd.DataFrame(data)
print(df)

      Name Course  Math  Science
0    Alice   SSLC    85       88
1      Bob  HSE11    78       89
2  Charlie  HSE12    92       95

**Array to Dataframe**

In [ ]:
import pandas as pd
import numpy as np

mark = np.array([['SSLC',85,78,92],['HSC',88,89,95]])
df2 = pd.DataFrame(mark, columns =['Course','Math','Science','Biology'])
df2['Math']=df2['Math'].astype(int)
df2['Science']=df2['Science'].astype(int)
df2['Biology']=df2['Biology'].astype(int)
print(df2)
print(type(df2))
print(df2.dtypes)

  Course  Math  Science  Biology
0   SSLC    85       78       92
1    HSC    88       89       95
<class 'pandas.core.frame.DataFrame'>
Course     object
Math        int64
Science     int64
Biology     int64
dtype: object

In [ ]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Course':['SSLC','HSE11','HSE12'],
    'Math': [85, 78, 92]

})
#Add new column in data

Tamil =np.array([67,89,77])
data['Tamil']=Tamil.tolist()

data['Science'] = [88, 89, 95]
print(data)

      Name Course  Math  Tamil  Science
0    Alice   SSLC    85     67       88
1      Bob  HSE11    78     89       89
2  Charlie  HSE12    92     77       95

**List**, **Tuple**, **set**, **Dictionary** **bold text**

In [ ]:
# Ensure no variable named 'tuple' exists
my_list = [1, 2, 3,3, 4]
my_tuple = tuple(my_list)
mset = set(my_list)  # Correct usage of 'tuple'
print(my_tuple)
print(mset)

(1, 2, 3, 3, 4)
{1, 2, 3, 4}

In [ ]:
#list to dictionary
list = [('Alice', 25), ('Bob', 30), ('Charlie', 35)]
dictionary = dict(list)
print(dictionary)

#approach 2:
key =['alice','bob','charlie']
value =[25,30,35]
dictionary = dict(zip(key,value))
print(dictionary)

{'Alice': 25, 'Bob': 30, 'Charlie': 35}
{'alice': 25, 'bob': 30, 'charlie': 35}

In [ ]:
input ={'a','b','c'}
input2 ={3,7,8}
dictionary = dict(zip(input,input2))
print(dictionary)


#method 2
out = {item : item**2 for item in input2}
print(out)

{'b': 8, 'a': 3, 'c': 7}
{8: 64, 3: 9, 7: 49}

In [ ]:
df

      Name Course  Math  Science
0    Alice   SSLC    85       88
1      Bob  HSE11    78       89
2  Charlie  HSE12    92       95

In [ ]:
#using lamda function
df = df.assign(Total=lambda x: x['Math'] + x['Science'])
print(df)

      Name Course  Math  Science  Total
0    Alice   SSLC    85       88    173
1      Bob  HSE11    78       89    167
2  Charlie  HSE12    92       95    187